#car {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 结算 */

#catBomAllCheak {
    height: 50px;
    background-color: #fff;
    line-height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border-top: 1px solid #d9d9d9;
    z-index: 999;
}
#catBomAllCheak label, #catBomAllCheak div {
    display: inline-block;
}
#catBomAllCheak label .falseIcon {
    background-position: -0.25rem -1.15rem;
}
#catBomAllCheak label i {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 14px;
    left: 10px;
    display: block;
}
#catBomAllCheak label span {
    padding-left: 40px;
    color: #666;
    font-size: 14px;
}
#catBomAllCheak span {
    float: right;
}
#catBomAllCheak div p {
    line-height: 27px;
    font-size: 16px;
    color: #252525;
    position: relative;
}
#catBomAllCheak div p span {
    display: block;
    width: 50px;
    float: left;
}
#catBomAllCheak div p em {
    color: #ff3333;
}
#catBomAllCheak div p.colorTxt {
    color: #999;
    font-size: 14px;
    position: relative;
    top: -8px;
}
#catBomAllCheak span a.delBtn {
    color: #fff;
    background-color: #fd5a5b;
}
#catBomAllCheak span a {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    width: 98px;
    font-size: 16px;
    background-color: #ddd;
    color: #999;
    text-align: center;
}
#catBomAllCheak label .tureIcon {
    background-position: 0 -115px;
}






.pubIcon {
    background: url(../img/catIcon.png) no-repeat 0 0;
    background-size: 1.5rem 1.5rem;
}

.pucTitle {
    height: .45rem;
    line-height: 0.45rem;
    position: relative;
    background: #fff;
}

.pucTitle .i,
.jxzy,
.cartCoupons,
.falseIcon {
    position: absolute;
    display: block;
}

.pucTitle .i {
    width: .25rem;
    height: .25rem;
    left: 0.1rem;
    top: 0.1rem;
    background-position: -0.02rem --1.15rem;
}

.pucTitle .jxzy {
    width: 0.15rem;
    height: 0.15rem;
    left: 40px;
    top: 0.15rem;
}

.pucTitle .jxzy>img {
    display: block;
    width: 100%;
    height: auto;
}

.pucTitle .title {
    font-size: 14px;
    color: #252525;
    margin-left: 0.62rem;
}

.pucTitle .cartCoupons {
    top: 0px;
    right: 0.1rem;
}

.pucTitle .cartCoupons>b {
    display: inline-block;
    width: 0.07rem;
    height: 0.12rem;
    margin-left: 0.05rem;
    position: relative;
    top: 0.03rem;
    background-position: -0.71rem 0;
}

/* 删除 */
.catShopCont>.cartDel {
    height: 22px;
    line-height: 22px;
    display: block;
    color: #666;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding-left: 10px;
    z-index: 101;
}

/* 取消全选 */
.pucTitle .falseIcon {
    width: 0.25rem;
    height: 0.25rem;
    left: 0.1rem;
    top: 0.1rem;
    background-position: -0.25rem -1.15rem;
}

.pucTitle .tureIcon {
    width: 0.25rem;
    height: 0.25rem;
    left: 0.1rem;
    top: 0.1rem;
    background-position: 0.02rem -1.15rem;
    position: absolute;
    display: block;
}

/* 商品 */
#carList{
    flex: 1;
}
.catShopList {
    border-top: 1px solid #e8e8e8;
}

.catShopList>.catShopCont {
    padding: 0.1rem 0;
    position: relative;
    background: #fff;
}

.catShopList>.catShopCont>span {
    width: 0.25rem;
    height: 0.25rem;
    position: absolute;
    top: 42%;
    left: 0.1rem;
    display: block;
}

.catShopList>.catShopCont>.falseIcon {
    background-position: -0.25rem -1.15rem;
}
/* 全选 */
.catShopList>.catShopCont>.tureIcon {
    background-position: 0 -1.15rem;
}

.catShopList>.catShopCont>.catShopInfo {
    margin-left: 0.2rem;
    padding-right: 0.1rem;
    height: 0.8rem;
}

.catShopCont>.catShopInfo>.catImg {
    top: 0.1rem;
    left: 0.4rem;
}

.catShopInfo .catImg,
.catShopInfo .catImgTwe {
    border: 1px solid #e8e8e8;
    position: absolute;
    top: 0.1rem;
    left: 0.1rem;
}

.catShopInfo>.catImg {
    width: 0.8rem;
    height: 0.8rem;
}

.catShopInfo .catImg img,
.catShopInfo .catImgTwe img {
    width: 100%;
    height: auto;
}



/* 商品简介 */
.catInfo {
    margin-left: 1.12rem;
}

.catShopInfo .catInfo>h4 {
    width: 100%;
    height: 0.36rem;
    line-height: 0.115rem;
    font-size: 0;
    overflow: hidden;
    color: #333;
    font-weight: 500;
}

.catInfo>h4>span {
    font-size: 14px;
}

.catInfo>p {
    font-size: 12px;
    color: #ff0000;
    padding: 0 0 0.05rem;
    height: 18px;
    line-height: 0.18rem;
    margin: 0
}

.catInfo>p>span {
    float: left;
    margin-right: 0.05rem;
}

.catInfo>p>span>strong {
    position: relative;
    top: 0.01rem;
    padding: 0 0.03rem;
    height: 0.16rem;
    color: #ffffff;
    line-height: 0.16rem;
    font-size: 12px;
    font-style: normal;
    -webkit-border-radius: 0.02rem;
    -moz-border-radius: .02rem;
    background-color: #ffa855;
    border-radius: 0.02rem;
}

/* 数量框 */
.rsCartItem {
    width: 0.75rem;
    height: 0.2rem;
    border: 1px solid #d0d0d0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.comAmount {
    width: 0.75rem;
    height: 0.2rem;
    position: relative;
}

.comAmount .minus.on,
.comAmount .plus.on {
    color: #d0d0d0;
}

.comAmount .minus {
    left: 0;
    border-right: 1px solid #d0d0d0;
    line-height: 18px;
}

.comAmount a {
    width: 0.2rem;
    height: 0.2rem;
    position: absolute;
    top: 0;
    overflow: hidden;
    color: #666;
    cursor: pointer;
    text-align: center;
    line-height: 0.2rem;
    font-size: 16px;
    font-family: Arial;
}

.comAmount .inpVal {
    width: 75px;
    display: inline-block;
    height: 0.2rem;
    line-height: 0.2rem;
    text-align: center;
    border: 0;
}

.comAmount .plus {
    right: 0;
    border-left: 1px solid #d0d0d0;
}