
/* .App {
    text-align: center;
} */


.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.Hou-header {
    background-color: #de4943;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: "华文细黑","Microsoft YaHei","黑体",sans-serif;
    font-size: 14px;
    line-height: 1.5;
    padding:0 20px;
}
.searchInput{
    padding: 5px;
}
.searchInput b{
    font-weight: normal;
    color: #666;
    font-family: "Microsoft YaHei";
    cursor: pointer;
    display: inline-block;
    width: 100%;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    border: none;
    background-color: #ececec;
    border-radius: 5px;
    padding: 0 30px;
    width:80%;
    text-align: left;
}
.detail{
    width: 100%;
    height: 324px;
    border-top: 1px solid #ccc;
}
.detail i,.detail span{
    display: block;
}
.detail span{
    font-size: 14px;
    text-decoration: none;
    margin-top: 12px;
}
.detail i{
    font-size: 36px;
}
.detail li{
    width:33.33%;
    height: 80px;
    display: block;
    float: left;
    text-decoration: none;
    color: #333;
    margin-top: 10px;
    border-bottom: .5px solid #ccc;
    border-right: .5px solid #ccc;
}
.headSearch{
    width: 100%;
    height: 40px;
    display: flex;
    margin-top:10px;
    justify-content: space-around;
}
.headSearch b{
    font-weight: normal;
    color: #666;
    font-family: "Microsoft YaHei";
    cursor: pointer;
    display: inline-block;
    width: 100%;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    border: none;
    background-color: #ececec;
    border-radius: 5px;
    padding: 0 30px;
}
.headSearch span{
    display: block;
    width: 33px;
    height: 40px;
    cursor: pointer;
    color: #666;
    line-height: 28px;
}
.tabBar{
    width:100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
}
.tabBar b{
    font-size: 10px;
    color: #ccc;
    display:block;
    margin-left: 60px;
}
.tabBar .top{
    margin-top: -20px;
}
.line{
    color: #ccc;
    font-size: 14px;
}
.club{
    overflow: hidden;
    height:45px;
    width:100%;
    text-align: left;
    margin-left: 20px;
}
.club span{
    padding: 0 20px;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    color: #333;
    font-size: 12px;
    background-color: #f6f6f6;
    border-radius: 13px;
    margin-right: 10px;
}
#colour{
    color: #ff9c00;
}
.hr{
    margin-top: -5px;
}
.content{
    width: 100%;
    height: 120px;
    margin-top:20px;
}
/* .img{
    width: 110px;
    height: 120px;
    line-height: 110px;
    float: left;
} */
.img img{
    width: 100%;
    height: 110px;
}
.words{
    float: right;
    width: 250px;
}
#words{
    text-align: left;
    font-size: 14px;
}
#limit{
    display:block;
    margin-top: -12px;
    width:10%;
    line-height: 8px;
    background: #ffa855;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    /*padding: 5px;*/
    font-size: 10px;
    margin-top: 5px;
}
#price{
    font-size: 14px;
    color: #fc5a5a;
    text-align: left;
    display: block;
}

.one{
    margin-top: 15px;
    height: 50px;
    margin-bottom: 20px;
    border-bottom:.5px solid #ccc;
}
.hiden{
    width:100%;
    height:100%;
    overflow: hidden;
}
.comment{
    margin-top: -20px;
}
#item{
    display: flex;
    width:100%;
    overflow: hidden;
}
#item .items{
    width:50%;
    height: 100%;
}
#item img{
    width:110px;
    height: 110px;
    margin-top: 20px;
    margin-left: 30px;
}
#item section{
    width:99%;
    height: 238px;
    border:1px solid #ccc;
}
#itemWords{
    height: 18px;
    line-height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    text-align: left;
}
#time{
    float: left;
    margin-left: 2px;
    padding-top: 2px;
    height: 16px;
    font-family: "华文细黑","Microsoft YaHei","黑体",sans-serif;
    font-size: 10px;
    line-height: 14px;
    border-radius: 2px;
}
#bottom{
    margin-left: 3px;
    margin-top: 40px;
}
#bottom strong{
    margin-left: -120px;
    color: red;
}
#houName{
    height: 40px;
}
.houImg{
    width:120px;
    height:120px;
    text-align:center;
    /*border:1px solid green;*/
}
.houImg img{
    width:110px;
    height:110px;
    margin-top:5px;
}
#houImg{
    width:100%;
    height:120px;
    display:flex;
    /*overflow: hidden;*/
    /*border:1px solid red;*/
    background:#fff;
}
#houWord{
    width:66%;
    height:100%;
    /*background:blue;*/
    margin-left:15px;
    border-bottom:1px solid #ccc;
}
#houWord section{
    padding:15px 0;
}
#self{
    font-size: 12px;
    text-align: left;
    margin:2px 0;
    /*border:.5px solid red;*/
    border-radius: 2px;
}
#self i{
    display: inline-block;
    width: 30px;
    background: red;
    color: #fff;
    height: 15px;
    text-align: center;
    font-style:normal;
    font-size:10px;
    line-height:12px;
    margin-right:50px;
}
#self b{
    margin-left: 2px;
    margin-right: 3px;
    font-family: "千阙行书";
    color: #fc5a5a;
    line-heifht:12px;
}
#self em{
    font-style:normal;
    line-height:12px;
}
.grap{
    width: 100%;
    overflow: hidden;
    background: #fff;
}