.topic_wrap{
    background:#ccc;
    display:flex;
    flex-wrap:wrap;
}
.topic_onegood{
    width:1.76rem;
    height:2.47rem;
    background:#fff;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin: 0.08rem 0 0 0.08rem;


}
.topic_onegood(n){

}
.topic_onegoodimg{
    width:1.28rem;
    height:1.28rem;
}

.topic_onegoodprice{
    margin-top:0.2rem;
}
.topic_onegoodprice span:nth-child(1){
    color:red;
    font-size:0.13rem;
    border:blod;
    margin-right:0.3rem;
}
/*.topic_onegoodprice span:nth-child(2){*/

/*}*/